---
import { Icon } from "astro-icon/components";

import ContentSection from "~/components/content-section.astro";
---

<ContentSection 
  title="¿CÓMO PODEMOS ACOMPAÑAR A TU ORGANIZACIÓN?" 
  id="intro" 
  class="text-xs sm:text-sm mx-4 sm:mx-6 my-10 sm:my-12"

>
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    <div class="mt-6 mb-6 space-y-6">
      Creemos esencial para el desarrollo profundo de los equipos autogestionados y colaborativos lo siguiente:
      <ul class="list-disc pl-8 space-y-4">
        <li>
          Aplicar diversas metodologías para crear en colectivo hábitos personales de autoobservación y autoexploración para la transformación, así como el uso del psicodrama, sociopsicodrama e inteligencia espiritual.
        </li>
        <li>
          Acompañar a personas y equipos multilocales en su bienestar personal, laboral y salud vincular, fortaleciendo con role playing las habilidades blandas de sus equipos de colaboradores.
        </li>
        <li>
          Estimular hacia las ilusiones, metas y propósitos compartidos, reforzando la vinculación desde la colaboración eficiente, en espacios de confianza y seguridad psicológica, generando procesos organizacionales más efectivos.
        </li>
        <li>
          Procurar la comunicación asertiva y escucha generativa para cumplir sus desafíos, soñar y cocrear el futuro emergente colectivamente.
        </li>
        <li>
          Promover la creatividad, espontaneidad y la plenitud de sus colaboradores en el espacio laboral en empresas que buscan ser autogestionadas.
        </li>
      </ul>
      <p class="mt-4">
        Te ayudamos al <span class="text-primary">BIENESTAR</span> personal, social y organizacional desde la <span class="text-primary">CREATIVIDAD</span>.
      </p>
    </div>
  </Fragment>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>

