---
import { Image } from "astro:assets";
import TestimonialImage from "~/assets/astronaut.png"; // Cambia por la ruta correcta de tu imagen.
---

<section class="relative text-white px-8 py-16 sm:px-16 sm:py-24" style="background-color: #560576;">
  <div class="max-w-4xl mx-auto text-center">
    <div class="text-4xl sm:text-5xl font-extrabold text-white mb-6">
      <span class="inline-block">&ldquo;</span>
    </div>
    <p class="text-base sm:text-lg leading-relaxed"> <!-- Tamaño de fuente ajustado -->
    Un taller súper poderoso, se logró una experiencia sensorial que envolvió al grupo y no solo ayudó al tanatólogo participante, también a los otros que teníamos casos similares con sensaciones fuertes que no podíamos compartir. Nos ayudó a liberar a través de la empatía y también los ejercicios de respiración (Participante del diplomado para tanatólogos). 
    </p>
    <div class="mt-8">
      <Image
        src={TestimonialImage}
        alt="Mariana Malváez González"
        class="w-24 h-24 rounded-full mx-auto mb-4 border-4 border-white"
      />
      <h3 class="text-lg font-semibold"> WELWY CEJA Z</h3>
      <p class="text-sm">Doula y Tanatóloga</p>
      <p class="text-sm">Querétaro, México</p>
    </div>
  </div>
</section>
