---
import { Image } from "astro:assets";
import TestimonialImage from "~/assets/astronaut.png"; // Cambia por la ruta correcta de tu imagen.
---

<section class="relative text-white px-8 py-16 sm:px-16 sm:py-24" style="background-color: #560576;">
  <div class="max-w-4xl mx-auto text-center">
    <div class="text-4xl sm:text-5xl font-extrabold text-white mb-6">
      <span class="inline-block">&ldquo;</span>
    </div>
    <p class="text-base sm:text-lg leading-relaxed"> <!-- Tamaño de fuente ajustado -->
     En lo personal como artista multifacética la experiencia del sociopsicodrama representó principalmente una resignificación muy profunda de la dramatización, un nacimiento colectivo de la escena, compartir el cuerpo, la mente las emociones en un accionar performático agitado, y comprometido desde la escucha, la observación, palabras o silencios a borbotones. Un compendio de artes comunicándose para la sanación y la catarsis, en un espacio donde nuestra intimidad jugó entre las irreverencias íntimas y el respeto mutuo.


    </p>
    <div class="mt-8">
      <Image
        src={TestimonialImage}
        alt="Mariana Malváez González"
        class="w-24 h-24 rounded-full mx-auto mb-4 border-4 border-white"
      />
      <h3 class="text-lg font-semibold">GITA DIFILIPPO</h3>
      <p class="text-sm">Maestra de yoga</p>
      <p class="text-sm">Santa Fe, Argentina.</p>
    </div>
  </div>
</section>
